@import "tailwindcss";

:root {
    --primary-color: #1173d4;
    --secondary-color: #0e5ea8;
    --background-color: #1a1a1a;
    --text-primary: #e0e0e0;
    --text-secondary: #a0a0a0;
    --accent-color: #2a84e6;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    color: var(--text-primary);
}

.nav-link:hover {
    color: var(--primary-color);
}